*{
    /* margin:0px; */
    padding: 0px;
    max-width: 1660px;
    background-color: #412567;
    color: white;
   font-family: "Inter", sans-serif;
     font-style: normal;
    

}


.inter-google-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* nav bar designing */

.nav-bar{
    display: flex;
    margin-top: 40px;
    margin-right: 20px;
    
      justify-content: space-between;
     align-items: center;

} 
.pry-btn{
    display: flex;
    color: white;
    width: 130px;
    height: 50px;
    border-radius: 50px;
    justify-content: center;
    background: linear-gradient(to right,#FB09B4,#9100F8);
    align-items: center;
    gap:5px;
    cursor: pointer;
    
}
.menu{
    display: flex;
    gap:20px;
    list-style: none;
}

#pry-img{
    width: 20px;
    /* filter: brightness(0) invert(1); */
    background: none;
    filter: invert(1);
    /* color: white;
    justify-content: space-between; */
    
}