*{
    /* margin:0px; */
    padding: 0px;
    max-width: 1660px;
    background-color: #1A0B2E;
    color: white;
   font-family: "Inter", sans-serif;
     font-style: normal;
    

}


.inter-google-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* nav bar designing */

.nav-bar{
    display: flex;
    margin-top: 40px;
    margin-right: 20px;
    
    justify-content: space-between;
    justify-items: center;
     align-items: center;
    padding: 16px 200px 16px 200px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(65, 37, 103, 1); 
    background: var(--#1A0B2E, rgba(26, 11, 46, 1));

} 
.pry-btn{
    display: flex;
    color: white;
    width: 130px;
    height: 50px;
    border-radius: 50px;
    justify-content: center;
    background: linear-gradient(to right,rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    align-items: center;
    gap:5px;
    cursor: pointer;
    
}
.menu{
    display: flex;
    gap:20px;
    list-style: none;
}

#pry-img{
    width: 20px;
    /* filter: brightness(0) invert(1); */
    background: none;
    filter: invert(1);
    /* color: white;
    justify-content: space-between; */


    
}


    /* hero section design ..........>*/

    #ist_back_img{
        width: 1600px;
        height: 760px;
        /* filter: invert(1) sepia(1) saturate(5) hue-rotate(200deg); */
        background:hidden;
      
     

    }
    .banner-img{

        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 1600px;
        height:760px;
        margin-left:-150px;
        
       justify-items: center;
       position: relative;
       
       padding: 16px 200px 16px 200px;
       /* overflow: hidden; */
       opacity: 1;
       

       
    }
    .banner-img {
  position: relative;
  
}

.banner-img img {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  
}

/* to avoid browser selection automatically */

#ist_back_img {
   z-index: 1;
   background-color: ;
}

#round_ball {
  z-index: 2;
  margin-top: -60px;
}

#micro {
  z-index: 3;
  margin-top: -60px;
} 

/* ......................................................... */

.hero-2 {
  display: flex;
  flex-direction: column;   /* stack items vertically */
  align-items: center;      /* horizontal center */
  justify-content: center;  /* vertical center */
  text-align: center;
  /* border: 2px solid white; */
  /* background: blue; */
  margin-top: 50px;
  /* height: 100vh;            */
}





    